**/.git
**/node_modules
**/bower_components
**/build
**/dist
**/test
**/tests
**/coverage
**/docs
**/assests
**/public
**/tmp

pnpm-lock.yaml
.gitignore
.dockerignore
*.html
*.codex
*.cursor
*.agents
*.claude

*/node_modules
*/dist
*/build
*/coverage

*.gen.ts
